body{
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    /* overflow-x: hidden;  */
    font-family: 'Markazi Text','Times New Roman', Times, serif;
    /* height: 100%; */
    background-size: cover;
}

.batbowl{
    background-color: rgba(33, 20, 86, 0.6);
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 0px;
}

.dot{
    height: 35px;
    width: 35px;
    background-color: rgba(33, 20, 86, 0.6);
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

/* .table-div {
    border-radius: 50px;
    color: white;
    /* font-size: 30px; */
    /* width: 75%; */
    /* padding: 10px; */
    /* margin: 10px 0px 10px 0px; */
    /* border: 4px solid white;
    background-color: rgba(33, 20, 86, 0.6);
} */